USE [QuanlyCLB]
GO
/****** Object:  Table [dbo].[CLB]    Script Date: 11/8/2023 11:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLB](
	[CAU_LAC_BO] [nvarchar](50) NOT NULL,
	[QUOC_GIA] [nvarchar](50) NULL,
	[SAN_VAN_DONG] [nvarchar](50) NULL,
	[GIA_VE] [money] NULL,
	[SO_LUONG_VE] [int] NULL,
	[TONG_TIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[CAU_LAC_BO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
