USE [master]
GO
/****** Object:  Database [QuanlyCLB]    Script Date: 11/8/2023 7:25:19 PM ******/
CREATE DATABASE [QuanlyCLB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanlyCLB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanlyCLB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanlyCLB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanlyCLB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanlyCLB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanlyCLB]
GO
/****** Object:  Table [dbo].[CLB]    Script Date: 11/8/2023 7:25:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLB](
	[Câu Lạc Bộ] [nvarchar](50) NOT NULL,
	[Quốc Gia] [nvarchar](50) NULL,
	[Sân Vận Động] [nvarchar](50) NULL,
	[Giá Vé] [money] NULL,
	[Số Lượng Vé] [int] NULL,
	[Tổng Tiền] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Câu Lạc Bộ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
